@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);


  --color-blue-50: #ebffff;
  --color-blue-100: #e0f5fa;
  --color-blue-200: #b2e6f2;
  --color-blue-300: #7fd5e9;
  --color-blue-400: #3cb8d6;
  --color-blue-500: #087590;
  --color-blue-600: #066377;
  --color-blue-700: #044d5f;
  --color-blue-800: #116279;
  --color-blue-900: #135166;
  --color-blue-950: #053547;
  --color-blue-50: #ebffff;

  --color-green-50: #7CFFBF;
  --color-green-100: #4DFFA3;
  --color-green-200: #2DFF8F;
  --color-green-300: #0DFF7E;
  --color-green-400: #08D167;
  --color-green-500: #05A650;
  --color-green-600: #037D3A;
  --color-green-700: #015626;
  --color-green-800: #003113;
  --color-green-900: #001A0B;

}

@media (prefers-color-scheme: dark) {}

@font-face {
  font-family: 'SaudiRiyal';
  src: url('/font/SaudiRiyal.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN';
  src: url("/font/Din/D-DIN.otf") format('truetype');
}

@font-face {
  font-family: 'DIN';
  src: url('/font/Din/D-DIN.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("/font/Poppins/Poppins-Regular.ttf") format('truetype');
}

.price {
  font-family: 'SaudiRiyal';
}

.font-Amiri {
  font-family: 'DIN';
}

.font-Poppins {
  font-family: 'Poppins';
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.scroll-smooth {
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'SaudiRiyal';
  src: url('/font/SaudiRiyal.ttf') format('truetype');
}

@font-face {
  font-family: 'Amiri';
  src: url("/font/Amiri/Amiri-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url("/font/Poppins/Poppins-Regular.ttf") format('truetype');
}

.price {
  font-family: 'SaudiRiyal';
}

.font-Amiri {
  font-family: 'Amiri';
}

.font-Poppins {
  font-family: 'Poppins';
}

.placeholder-price::placeholder {
  font-family: 'SaudiRiyal';
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

/* Global Modern Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #05A650;
  border-radius: 20px;
  border: 1px solid transparent;
  /* padding around thumb */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #05A650;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #05A650 transparent;
}

/* Keep utility class just in case */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #037D3A transparent;
}

.scroll-smooth {
  scroll-behavior: smooth;
}